@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>Autcrock</h1>
    <p></p>
    <p class="lead">Thanks for visiting Autcrock, the central web referral point for Mike Thomas.</p>
</div>


<div class="row">
    <div class="col-md-4">
        <h2>About me - LinkedIn</h2>
        <p></p>
        <p><a class="btn btn-primary btn-lg" href="http://www.linkedin.com/in/mjthomas1">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>My Soundcloud page</h2>
        <p></p>
        <p><a class="btn btn-primary btn-lg" href="http://soundcloud.com/autcrock">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Buy my music</h2>
        <p></p>
        <p><a class="btn btn-primary btn-lg" href="http://michaeljosephthomas.bandcamp.com/">Learn more &raquo;</a></p>
    </div>
</div>

<div class="row">
    <p><a class="btn btn-primary btn-lg" href="http://michaeljosephthomas.bandcamp.com/" id="HelloWorldLabel1"> Learn more &raquo;</a></p>
    <p><asp:Label runat="server" id="HelloWorldLabel"> HELLO</asp:Label></p>
</div>

    <!--
    <div class="row">
        <div class="col-md-4">
            <object width="100%" height="100%"
                    id="KGSBrowsePlugin1"
                    data="data:application/x-silverlight-2"
                    type="application/x-silverlight-2">
                <param name="source" value="KGS Browse.xap" />
                <param name="background" value="transparent" />
                <!-- Set the required version and auto-update option -->
    <!--            <param name="minRuntimeVersion" value="5.0.61118.0" />
                <param name="autoUpgrade" value="true" />
                <!-- Provide alternate content when Silverlight isn't installed -->
    <!--            <a href="http://go.microsoft.com/fwlink/?LinkID=124807"
                    style="text-decoration: none;">
                <img src="http://go.microsoft.com/fwlink/?LinkId=108181"
                    alt="Get Microsoft Silverlight" style="border-style: none" />
                </a>
            </object>
        </div>
    </div>
    -->
