/* Well */

<style type="text/css">
	path {
	    stroke: steelblue;
	    stroke-width: 2;
	    fill: none;
	}

	line {
	    stroke: black;
	}

	text {
	    font-family: Arial;
	    font-size: 9pt;
	}
</style>
